@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base globales para la marca */
@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; /* Compensa la altura del Navbar fijo al hacer scroll a las secciones */
    overflow-x: hidden;
  }
  body {
    @apply bg-michi-cream text-michi-brown-dark font-body antialiased;
    overflow-x: hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-title;
  }
}
